@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    background-image: url(img/UrbanoFino.jpg);
    background-size: cover;
    background-position: center;
}

/*navbar*/
.navbar .btn-home{
    background-color: #203540;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navbar .btn-home:hover{
    text-align: center;
    background: #AFB6BA;
    color: #203540;
}
.navbar .btn-home:hover{
    background: #AFB6BA;
    color: #203540;
}
.navbar .nav-link{
    color: #fff;
}

/*modal*/
.modal-content{
    position: relative;
    background: transparent;
    border: 2px solid #AFB6BA;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #203540;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.modal-header .modal-title{
    color: #fff;
}
.modal-header .close .icon-close{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    background: #203540;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}






.modal-body .input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .modal-body .input-box input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
  }

  .modal-body .input-box input:focus,
  .modal-body .input-box input:valid {
    border-bottom: 2px solid #00bcd4;
  }

  .modal-body .input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-135%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: 0.3s;
  }

  .modal-body .input-box input:focus~label,
  .modal-body .input-box input:valid~label {
    top: 0px;
    font-size: 0.8em;
    color: #00bcd4;
  }

  .modal-body .input-box .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #fff;
}







.modal-body .remember-forgot{
    font-size: .9em;
    color: #AFB6BA;
    font-weight: 500;
    margin: -15px 0 15px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
}
.modal-body .remember-forgot label input{
    accent-color: #203540;
    margin-right: 3px;
}
.modal-body .remember-forgot a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
}
.modal-body .remember-forgot a:hover{
    text-decoration: underline;
}
.footer-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-cancelar,
.btn-entrar {
    margin: 35px; 
}
.footer-modal .btn-cancelar{
    background-color: transparent;
    border: 2px solid #203540;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.footer-modal .btn-cancelar:hover{
    text-align: center;
    background: #203540;
    color: #203540;
}
.footer-modal .nav-link{
    color: #fff;
}
.footer-modal .btn-entrar{
    background-color: #203540;
    border: 2px solid #203540;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.footer-modal .btn-entrar:hover{
    text-align: center;
    background: #203540;
    color: #203540;
}
.footer-modal .nav-link{
    color: #fff;
}
.login-register{
    font-size: .9em;
    color: #AFB6BA;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}